/* Normalize */
@charset "utf-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

/* Common */
/* html,
body {
  overflow-x: hidden !important;
} */

body {
  background-color: #ffffff;
  text-align: center;
  font-family: Graphik;
}

button:hover,
button:focus {
  cursor: pointer;
}

:root {
  --black-title-text: #252b42;
  --white-text: #ffffff;
  --black-text: #374754;
  --primary-btn-color: #2091f9;
  --secondary-btn-color: #ffffff;
}

/* Fonts */
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src: local('Graphik 400'), local('Graphik-400'),
    url('./fonts/Graphik-Regular.woff') format('woff'),
    url('./fonts/Graphik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  src: local('Graphik 400'), local('Graphik-700'),
    url('./fonts/Graphik-Bold.woff') format('woff'),
    url('./fonts/Graphik-Bold.woff2') format('woff2');
}

/* Header section */
.header {
  background-color: #ffffff;
}

.header__background {
  padding-top: 20px;
  padding-bottom: 230px;
  background-image: url('./img/header-background.png');
  background-repeat: no-repeat;
}

.header__nav-wrapper {
  margin-bottom: 100px;
}

.header__nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list > li {
  padding: 10px;
}

.header__nav-list > li > a {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: var(--white-text);
}

.header__logo {
  width: 100%;
}

.header__menu-btn {
  width: 40px;
  height: 32px;
}

.header__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  letter-spacing: 0.20000000298023224px;
  color: var(--white-text);
}

.header__text {
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.20000000298023224px;
  color: var(--white-text);
}

.header__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  height: 52px;
  border-radius: 35px;
  background-color: var(--primary-btn-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  color: var(--white-text);
}

@media screen and (max-width: 767px) {
  .header__background {
    background-position: 50% 0;
  }

  .header__nav-wrapper {
    padding-right: 10px;
    padding-left: 20px;
  }

  .header__logo {
    max-width: 186px;
    height: 58px;
  }

  .header__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
  }

  .header__nav {
    display: none;
  }

  .header__social-links {
    display: none;
  }

  .header__text--pc {
    display: none;
  }
}

@media screen and (max-width: 359px) {
  .header__background {
    background-size: 450% 101%;
    background-position: 50% 0;
  }

  .header__title {
    max-width: 303px;
  }

  .header__text {
    max-width: 205px;
  }
}

@media screen and (min-width: 360px) and (max-width: 419px) {
  .header__background {
    background-size: 400% 101%;
  }

  .header__title {
    max-width: 333px;
  }

  .header__text {
    max-width: 265px;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .header__background {
    background-size: 350% 101%;
  }

  .header__title {
    max-width: 333px;
  }

  .header__text {
    display: block;
    max-width: 265px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .header__background {
    background-size: 225% 100%;
    background-position: 50% 0;
  }

  .header__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__nav-container {
    gap: 11px;
  }

  .header__logo {
    max-width: 206px;
    height: 78px;
  }

  .header__social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 131px;
  }

  .header__social-links__item > a {
    display: inline-block;
  }

  .header__social-links__item > a > img {
    width: 32px;
    height: 32px;
    margin-bottom: -3px;
  }

  .header__title {
    max-width: 672px;
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
  }

  .header__text--pc {
    display: inline-block;
  }

  .header__text {
    display: block;
    max-width: 766px;
    margin-right: auto;
    margin-left: auto;
  }

  .header__menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .header__background {
    background-position: 50% 0;
  }

  .header__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__nav-container {
    gap: 21px;
  }

  .header__logo {
    max-width: 206px;
    height: 78px;
  }

  .header__social-links {
    max-width: 171px;
  }

  .header__social-links__item > a {
    display: inline-block;
  }

  .header__social-links__item > a > img {
    width: 32px;
    height: 32px;
    margin-bottom: -3px;
  }

  .header__title {
    max-width: 672px;
    font-size: 74px;
    font-weight: 700;
    line-height: 84px;
  }

  .header__text--pc {
    display: inline-block;
  }

  .header__text {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {
  .header__background {
    background-size: 150% 100%;
  }
}

@media screen and (min-width: 1360px) {
  .header__nav-wrapper {
    justify-content: space-between;
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1699px) {
  .header__background {
    background-size: 125% 100%;
  }
}

@media screen and (min-width: 1700px) {
  .header__background {
    background-size: 100% 100%;
  }
}

/* Features section */
.features__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.20000000298023224px;
  color: var(--black-title-text);
  text-align: center;
}

.features__text {
  margin-right: auto;
  margin-left: auto;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.20000000298023224px;
  color: var(--black-text);
  text-align: center;
}

.features__list-wrapper {
  display: flex;
  gap: 47px;
}

.features__list {
  display: flex;
  gap: 47px;
}

.features__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__list__item__img {
  width: 46px;
  height: 46px;
  margin-bottom: 30px;
}

.features__list__item__title {
  width: 100%;
  max-width: 194px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  color: var(--black-title-text);
  text-align: center;
}

.features__list__item__text {
  width: 100%;
  max-width: 231px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.20000000298023224px;
  color: var(--black-text);
  text-align: center;
}

.features__video__wrapper {
  position: relative;
}

.features__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.features__video__background-img {
  width: 100%;
}

.features__video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 61px;
  height: 61px;
}

@media screen and (max-width: 767px) {
  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features__title {
    margin-bottom: 47px;
  }

  .features__text {
    max-width: 265px;
    margin-bottom: 47px;
  }

  .features__list-wrapper {
    flex-direction: column-reverse;
  }

  .features__list {
    flex-direction: column;
  }

  .features__video__play-btn {
    width: 61px;
    height: 61px;
  }

  .features__text-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .features__title {
    margin-bottom: 30px;
  }

  .features__text {
    max-width: 532px;
    margin-bottom: 100px;
  }

  .features__list-wrapper {
    flex-direction: column;
  }

  .features__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .features {
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .features__list {
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .features {
    padding-top: 200px;
  }

  .features__list {
    justify-content: center;
  }

  .features__video__wrapper {
    max-width: 1177px;
    margin-right: auto;
    margin-left: auto;
  }

  .features__video__play-btn {
    width: 187px;
    height: 187px;
  }
}

/* Organize section */
.organize__title {
  max-width: 335px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.20000000298023224px;
}

.organize__text {
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.20000000298023224px;
}

.organize__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  height: 60px;
  border-radius: 35px;
  background-color: var(--primary-btn-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  color: var(--white-text);
}

.organize__img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .organize {
    padding-top: 50px;
    padding-right: 23px;
    padding-bottom: 50px;
    padding-left: 23px;
  }

  .organize__title {
    margin-right: auto;
    margin-left: auto;
  }

  .organize__text {
    max-width: 265px;
    margin-right: auto;
    margin-left: auto;
  }

  .organize__btn {
    margin-bottom: 50px;
  }

  .organize__text-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .organize {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .organize__content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1243px;
  }

  .organize__text__container {
    width: 100%;
    text-align: left;
  }

  .organize__title,
  .organize__text {
    text-align: left;
  }

  .organize__img {
    max-width: 624px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .organize {
    padding-right: 40px;
    padding-left: 40px;
  }

  .organize__text__container {
    max-width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .organize__content-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .organize__content-wrapper {
    max-width: 900px;
  }

  .organize__text__container {
    max-width: 408px;
  }

  .organize__img {
    max-width: 580px;
  }
}

@media screen and (min-width: 1280px) {
  .organize__content-wrapper {
    max-width: 1177px;
  }

  .organize__text__container {
    max-width: 532px;
  }

  .organize__img {
    max-width: 624px;
  }
}

/* News letter section */
.newsletter__subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
}

.newsletter__form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
}

.newsletter__form__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.20000000298023224px;
}

.newsletter__form__input {
  display: inline-block;
  width: 100%;
  height: 14px;
  padding: 19px 35px 19px 35px;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}

.newsletter__form__input::placeholder {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #18171d;
}

.newsletter__form__btn {
  display: inline-block;
  width: 100%;
  height: 54px;
  padding: 17px 35px 17px 35px;
  border-radius: 39px;
  background-color: var(--primary-btn-color);
  border: none;
  outline: none;
  font-family: Graphik;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .newsletter {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .newsletter__subtitle,
  .newsletter__mobile__title,
  .newsletter__mobile__text {
    text-align: center;
  }

  .newsletter__subtitle {
    margin-bottom: 20px;
  }

  .newsletter__mobile__title {
    margin-bottom: 30px;
  }

  .newsletter__mobile__text {
    margin-bottom: 100px;
  }

  .newsletter__mobile__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.20000000298023224px;
  }

  .newsletter__mobile__text {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.20000000298023224px;
  }

  .newsletter__mobile__img {
    width: 100%;
    max-width: 389px;
    margin-bottom: 60px;
  }

  .newsletter__form__title {
    margin-bottom: 10px;
  }

  .newsletter__form__text {
    margin-bottom: 47px;
  }

  .newsletter__form {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .newsletter__form__input {
    max-width: 218px;
    height: 14px;
  }

  .newsletter__form__btn {
    max-width: 353px;
    height: 54px;
  }

  .newsletter__desktop__title,
  .newsletter__desktop__img {
    display: none;
  }
}

@media screen and (max-width: 339px) {
  .newsletter__form__input {
    max-width: 218px;
  }
}

@media screen and (min-width: 340px) and (max-width: 359px) {
  .newsletter__form__input {
    max-width: 238px;
  }
}

@media screen and (min-width: 360px) and (max-width: 379px) {
  .newsletter__form__input {
    max-width: 258px;
  }
}

@media screen and (min-width: 380px) and (max-width: 419px) {
  .newsletter__form__input {
    max-width: 278px;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .newsletter__form__input {
    max-width: 281px;
  }
}

@media screen and (min-width: 768px) {
  .newsletter {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .newsletter__desktop__img {
    width: 100%;
  }

  .newsletter__subtitle,
  .newsletter__desktop__title,
  .newsletter__form__title,
  .newsletter__form__text {
    text-align: left;
  }

  .newsletter__form__text {
    margin-bottom: 33px;
  }

  .newsletter__form {
    text-align: left;
  }

  .newsletter__form__input {
    max-width: 193px;
    padding: 19px 39px 19px 39px;
  }

  .newsletter__form__btn {
    padding: 19px 38px 19px 38px;
  }

  .newsletter__mobile__title,
  .newsletter__mobile__text,
  .newsletter__mobile__img {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .newsletter {
    max-width: 728px;
  }

  .newsletter__desktop__img {
    max-width: 400px;
  }

  .newsletter__content__wrapper {
    max-width: 300px;
  }

  .newsletter__desktop__title {
    margin-bottom: 47px;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.20000000298023224px;
  }

  .newsletter__form__btn {
    max-width: 273px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .newsletter {
    max-width: 900px;
  }

  .newsletter__desktop__img {
    max-width: 477px;
  }

  .newsletter__content__wrapper {
    max-width: 400px;
  }

  .newsletter__desktop__title {
    margin-bottom: 47px;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.20000000298023224px;
  }

  .newsletter__form__btn {
    max-width: 273px;
  }
}

@media screen and (min-width: 1280px) {
  .newsletter {
    max-width: 1234px;
  }

  .newsletter__desktop__img {
    max-width: 677px;
  }

  .newsletter__content__wrapper {
    max-width: 460px;
  }

  .newsletter__desktop__title {
    margin-bottom: 47px;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.20000000298023224px;
  }

  .newsletter__form__input {
    margin-right: 10px;
  }

  .newsletter__form__btn {
    max-width: 172px;
  }
}

/* Partners section */
.partners__title {
  margin-bottom: 17px;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.partners__text {
  margin-bottom: 90px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.partners__list {
  margin-bottom: 80px;
}

.partners__list__item {
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid #d8d8d8;
}

.partners__list__item__title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.10000000149011612px;
}

.partners__btn {
  display: block;
  max-width: 236px;
  height: 26px;
  padding: 16px 0px 16px 0px;
  border: 1px solid var(--primary-btn-color);
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--primary-btn-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .partners {
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }

  .partners__title {
    margin-bottom: 17px;
  }

  .partners__text {
    margin-bottom: 80px;
  }

  .partners__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 275px;
    margin-right: auto;
    margin-left: auto;
  }

  .hidden {
    display: none;
  }

  .partners__list__item {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .partners__list__item__img {
    width: 100%;
    max-width: 193px;
  }
}

@media screen and (min-width: 768px) {
  .partners {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  .partners__text {
    max-width: 532px;
    margin-right: auto;
    margin-left: auto;
  }

  .partners__list__item {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .partners__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .partners__list__item__img {
    width: 100%;
    max-width: 193px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .partners__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .partners__list__item__img {
    width: 100%;
    max-width: 193px;
  }
}

@media screen and (min-width: 1280px) {
  .partners__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1075px;
    margin-right: auto;
    margin-left: auto;
  }

  .partners__list__item__img {
    width: 100%;
    max-width: 191px;
  }

  .partners__list__item__img-big {
    max-width: 221px;
  }

  .partners__list__item__img-small {
    max-width: 140px;
  }
}

/* Testimonials section */
.testimonials {
  text-align: center;
}

.testimonials__title {
  margin-bottom: 90px;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.20000000298023224px;
  color: var(--black-title-text);
}

.testimonials__logo {
  width: 100%;
}

.testimonials__text {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.testimonials__avatar__container {
  display: inline-flex;
  align-items: center;
  gap: 11px;
  width: 100%;
}

.testimonials__avatar__text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.testimonials__avatar__title,
.testimonials__avatar__text {
  text-align: left;
}

.testimonials__btn {
  display: block;
  width: 100%;
  max-width: 182px;
  padding: 16px 47px 16px 47px;
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--primary-btn-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .testimonials__logo {
    max-width: 127px;
    margin-bottom: 45px;
  }

  .testimonials__text {
    max-width: 280px;
    margin-bottom: 53px;
    font-size: 13.53px;
    font-weight: 700;
    line-height: 16.91px;
    letter-spacing: 0.16906976699829102px;
    color: var(--black-text);
  }

  .testimonials__avatar__container {
    max-width: 135px;
    margin-bottom: 95px;
  }

  .testimonials__avatar {
    width: 42px;
    height: 42px;
  }

  .testimonials__avatar__text__wrapper {
    gap: 2px;
  }

  .testimonials__avatar__title {
    font-size: 10.14px;
    font-weight: 700;
    line-height: 15.22px;
    letter-spacing: 0.08453488349914551px;
    color: var(--black-text);
  }

  .testimonials__avatar__text {
    font-size: 12.68px;
    font-weight: 400;
    line-height: 22.82px;
    letter-spacing: 0.16906976699829102px;
  }
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .testimonials__logo {
    max-width: 150px;
    margin-bottom: 50px;
  }

  .testimonials__text {
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.20000000298023224px;
  }

  .testimonials__avatar__container {
    max-width: 186px;
    margin-bottom: 80px;
  }

  .testimonials__avatar {
    width: 50px;
    height: 50px;
  }

  .testimonials__avatar__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.10000000149011612px;
  }

  .testimonials__avatar__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    color: var(--black-title-text);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .testimonials__text {
    max-width: 630px;
  }
}

@media screen and (min-width: 1024px) {
  .testimonials__text {
    max-width: 967px;
  }
}

/* Pricing section */
.pricing {
  background-color: var(--black-title-text);
}

.pricing__title {
  margin-bottom: 17px;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #ffffff;
}

.pricing__text {
  width: 100%;
  margin-bottom: 90px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.20000000298023224px;
  color: #ffffff;
}

.pricing__list {
  display: flex;
  align-items: center;
}

.pricing__card-white,
.pricing__card-blue {
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 0px 13px 19px 0px #00000012;
}

.pricing__card-white > .pricing__card__btn {
  background-color: var(--primary-btn-color);
  color: #ffffff;
}

.pricing__card-blue > .pricing__card__btn {
  background-color: #ffffff;
  color: #2091f9;
}

.pricing__card-blue > .pricing__card__title,
.pricing__card-blue > .pricing__card__text,
.pricing__card-blue .pricing__card__price,
.pricing__card-blue .pricing__card__currency,
.pricing__card-blue .pricing__card__text,
.pricing__card-blue .pricing__card__feature {
  color: #ffffff;
}

.pricing__card-white {
  padding: 40px;
  background-color: #ffffff;
}

.pricing__card-blue {
  padding-right: 40px;
  padding-left: 40px;
  background-color: var(--primary-btn-color);
}

.pricing__card__title {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  color: var(--black-title-text);
}

.pricing__card__text {
  max-width: 154px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: var(--black-text);
}

.pricing__card__price__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.pricing__card__price {
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.20000000298023224px;
  color: var(--black-title-text);
}

.pricing__card__currency__wrapper {
  display: flex;
  flex-direction: column;
}

.pricing__card__currency__wrapper > .pricing__card__text {
  margin-bottom: 0;
  text-align: left;
}

.pricing__card__currency {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  color: var(--black-title-text);
  text-align: left;
}

.pricing__card__feature__list {
  margin-bottom: 30px;
}

.pricing__card__feature__list :not(:last-child) {
  margin-bottom: 20px;
}

.pricing__card__feature {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
}

.pricing__card__btn {
  display: block;
  width: 100%;
  max-width: 179px;
  padding: 18px 38px 18px 38px;
  border-radius: 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
}

@media screen and (max-width: 767px) {
  .pricing {
    padding-top: 50px;
    padding-right: 42px;
    padding-bottom: 50px;
    padding-left: 42px;
  }

  .pricing__list {
    flex-direction: column;
    gap: 50px;
  }

  .pricing__card-blue {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pricing__text > span {
    display: none;
  }

  .pricing__card__btn {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 339px) {
  .pricing__card-white,
  .pricing__card-blue {
    max-width: 155px;
  }

  .pricing__card__btn {
    max-width: 79px;
  }
}

@media screen and (min-width: 340px) and (max-width: 359px) {
  .pricing__card-white,
  .pricing__card-blue {
    max-width: 175px;
  }

  .pricing__card__btn {
    max-width: 99px;
  }
}

@media screen and (min-width: 360px) and (max-width: 379px) {
  .pricing__card-white,
  .pricing__card-blue {
    max-width: 195px;
  }

  .pricing__card__btn {
    max-width: 119px;
  }
}

@media screen and (min-width: 380px) and (max-width: 419px) {
  .pricing__card-white,
  .pricing__card-blue {
    max-width: 215px;
  }

  .pricing__card__btn {
    max-width: 139px;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .pricing__text {
    max-width: 276px;
    margin-right: auto;
    margin-left: auto;
  }

  .pricing__card-white,
  .pricing__card-blue {
    max-width: 255px;
  }
}

@media screen and (min-width: 768px) {
  .pricing {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .pricing__text {
    max-width: 532px;
    margin-right: auto;
    margin-left: auto;
  }

  .pricing__card-blue {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .pricing__list {
    justify-content: space-evenly;
  }

  .pricing__card-white,
  .pricing__card-blue {
    max-width: 175px;
  }

  .pricing__card__btn {
    max-width: 99px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .pricing__list {
    justify-content: space-evenly;
  }

  .pricing__card-white,
  .pricing__card-blue {
    max-width: 215px;
  }

  .pricing__card__btn {
    max-width: 139px;
  }
}

@media screen and (min-width: 1280px) {
  .pricing__list {
    gap: 50px;
    max-width: 1105px;
    margin-right: auto;
    margin-left: auto;
  }

  .pricing__card-white,
  .pricing__card-blue {
    width: 100%;
    max-width: 255px;
  }
}

/* Contact section */
.contact {
}

.contact__title {
  margin-bottom: 17px;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.20000000298023224px;
  color: var(--black-title-text);
}

.contact__text {
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.20000000298023224px;
  color: var(--black-text);
}

.contact__form__container {
}

.contact__form {
}

.contact__form__title {
}

.contact__form__input {
}

.contact__form__textarea {
}

.contact__form__btn {
}

.contact__address__container {
}

.contact__address__list {
}

.contact__address__text__wrapper {
}

.contact__address__img {
}

.contact__address__text {
}

@media screen and (max-width: 767px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contact__map__img {
  }

  .contact__social__links__list {
  }

  .contact__social__link {
  }

  .contact__social__link__img {
  }
}
